<div>
    <h3>Today is workday</h3>
    <form action="/checkin" method="POST">
        <button class="btn btn-primary" type="submit">check</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">date</th>
                <th scope="col">firstCheck</th>
                <th scope="col">lastCheck</th>
                <th scope="col">hours</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            {{#each checks}}
            <tr>
                <th scope="row">{{this.deadline}}</th>
                <td>{{this.firstCheck}}</td>
                <td>{{this.lastCheck}}</td>
                <td>{{this.hour}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>