<div>
    <h3 class="mb-3">CheckIn System</h3>
    <p>* 六日為非工作日，不能打卡</p>
    <P>* 第一次打卡與最後一次打卡需相隔8小時，才算全勤</P>
    <form action="/checkin" method="POST">
        <button class="btn btn-primary" type="submit">check</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">date</th>
                <th scope="col">firstCheck</th>
                <th scope="col">lastCheck</th>
                <th scope="col">progress</th>
                <th scope="col">hours</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            {{#each checks}}
            <tr>
                <th scope="row">{{this.deadline}}</th>
                <td>{{ this.firstCheck }}</td>
                <td>{{ this.lastCheck }}</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success text-dark" style="width: {{this.progress}}%">{{this.progress}}% </div>
                    </div>
                </td>
                <td>{{this.hour}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>